
.listaPosts {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 80px;
  align-items: start;
}

.listaPosts > * {
  width: 100%;
}

@media (min-width: 768px) {
  .listaPosts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }

  .listaPosts > * {
    flex: 1 1 calc(50% - 2.5rem);
    max-width: calc(50% - 2.5rem);
  }
}
