.cabecalho {
    margin-bottom: 1rem;
    border-bottom: 1px solid #A5A5A5;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.containerAutorData {
    display: flex;
    gap: 1.5rem;
    color: #A5A5A5;
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

.containerImagem {
    width: 75%;
    height: 770px;
    margin: auto;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
}

.conteudo {
    margin: auto;
    line-height: 1.5;
    color: #333;
    margin-bottom: 2rem;
    white-space: pre-line;
    width: 75%;
    font-size: 19px;
}