.button {
    display: inline-block;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.button:hover {
    opacity: 0.9;
}

.pequeno {
    padding: 8px 16px;
    font-size: 16px;
}


.medio {
    padding: 11px 14px;
    font-size: 18px;

}

.grande {
    padding: 16px 16px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .medio {
        padding: 8px 16px;
        font-size: 16px
    }
}